@import '../../styles/vars';

@media screen and (max-width: 3000px) {
  .concept {
    background-color: rgb(247 253 253 / 50%);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 32px 16px;
    text-align: left;

    &__statement {
      margin: 0 auto;
      max-width: 800px;
      padding: 32px;
    }

    &__normal {
      display: block;
      margin-right: 0;
      padding: 4px;

      &:hover {
        transform: translate(random(20) +px, 0);
        transition: all 2s 0s ease;
      }
    }

    &__indention {
      display: inline-block;
      margin-left: 0%;
      text-align: center;

      &:hover {
        transform: translate(random(20) +px, 0);
        transition: all 2s 0s ease;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .concept {
    background-color: rgb(247 253 253 / 50%);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 32px 16px;
    text-align: left;

    &__statement {
      margin: 0 auto;
      max-width: 800px;
      padding: 32px;
    }

    &__normal {
      display: block;
      margin-right: 0;
      padding: 4px;

      &:hover {
        transform: translate(random(20) +px, 0);
        transition: all 2s 0s ease;
      }
    }

    &__indention {
      display: inline-block;
      margin-left: 0%;
      text-align: center;

      &:hover {
        transform: translate(random(20) +px, 0);
        transition: all 2s 0s ease;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .concept {
    background-color: rgb(247 253 253 / 40%);
    font-size: 1rem;
    padding: 32px 16px;
    text-align: left;

    &__indention {
      text-align: center;
    }
  }
}

@media screen and (max-width: 400px) {
  .concept {
    background-color: rgb(247 253 253 / 40%);
    font-size: 0.8rem;
    padding: 32px 8px;
    text-align: left;

    &__indention {
      display: block;
      margin-left: 0%;
      text-align: center;
    }
  }
}

@media screen and (max-width: 399px) {
  .concept {
    background-color: rgb(247 253 253 / 40%);
    font-size: 0.7rem;
    padding: 32px 8px;
    text-align: left;

    &__indention {
      display: block;
      margin-left: 0%;
      text-align: center;
    }
  }
}
