@import '../styles/vars'


/*なぜ.deco1がうまく機能しないのかよくわかりません*/
.deco1 {
    text-align: center;
    font-size: 60px;
}
.deco2 {
    text-align: center;
    font-size: 48px;
}
p {
    text-align: center;
    font-size: 36px;
}