@import '../styles/vars'



styles.deco1 {
    text-align: center;
    font-size: 1.25rem;
}
styles.deco2 {
    text-align: center;
    font-size: 1rem;
}
styles.p {
    text-align: center;
    font-size: 0.75rem;
}
