@import '../../styles/vars';

.projects{
    height:100px;
    display:flex;
    justify-content: center;
    align-items: center;
    &__p{
        font-size: 1.5rem;
    }
}
.button{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100px;
    &__colour{
        padding:16px;
        margin:12px;
        background-color:$main-blue ;
        display:flex;
        justify-content: center;
        align-items: center;
        border-radius:5px;
        cursor:pointer;
        filter: drop-shadow(1px 1px 5px rgba(0,0,0,0.2));
        &:hover{
            transform:scale(1.05,1.05);
            filter: drop-shadow(1px 1px 7px rgba(0,0,0,0.3));
            transition:all 0.5s 0s ease;
        }
    }
    &__time{
        padding:16px;
        margin:12px;
        background-color:$main-pink ;
        display:flex;
        justify-content: center;
        align-items: center;
        border-radius:5px;
        cursor:pointer;
        filter: drop-shadow(1px 1px 5px rgba(0,0,0,0.2));
        &:hover{
            transform:scale(1.05,1.05);
            filter: drop-shadow(1px 1px 7px rgba(0,0,0,0.3));
            transition:all 0.5s 0s ease;
        }
    }
    &__diff{
        padding:16px;
        margin:12px;
        background-color:$main-olive ;
        display:flex;
        justify-content: center;
        align-items: center;
        border-radius:5px;
        cursor:pointer;
        filter: drop-shadow(1px 1px 5px rgba(0,0,0,0.2));
        &:hover{
            transform:scale(1.05,1.05);
            filter: drop-shadow(1px 1px 7px rgba(0,0,0,0.3));
            transition:all 0.5s 0s ease;
        }
    }

}
.box{
    position:relative;
    height:75vw;
    width:100vw;
    margin:auto;
    display:block;
    max-width: 1200px;
    img{
        width:100%;
    }
}

.colour{
    position:absolute;
    top:0px;
    left:-10%;
    margin:0 auto;
    z-index: 5;
    width:100%;
    height:100%;
    img{
        height:auto;
        width: 120%;
    }
}
.diff{
    position:absolute;
    top:0px;
    right:-10%;
    margin:0 auto;
    z-index:3;
    width:100%;
    height:100%;
    img{
        height:auto;
        width: 120%;
    }
}
.time{
    position:absolute;
    top:0px;
    left:-10%;
    margin:0 auto;
    z-index:2;
    width:100%;
    height:100%;
    img{
        height:auto;
        width: 120%;
    }
}
