@import '../../styles/vars';

.category {
  color: $sub-blue;
  display: inline-block;
  font-size: 16px;
  margin-left: 12px;

  @include mq(xsmall) {
    margin-left: 0;
  }
}

.content {
  &__container {
    display: flex;
  }
}
