footer {
    align-items: flex-end ;
    background-color: #49403D ;
    height: $footer-height ;

    left: 0;
    position: fixed;
    top: ;
    width: ;
}
footer_text{
    font-size: ;
    color:#f7fdfd ;

}
.sns_icon{
    display: flex;

}
