@import '../../styles/vars';
.footer {
    align-items: flex-end ;
    background-color: #49403D ;
    height: $footer-height ;

    left: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding:13px 18px;

}
.footer_dp9logo{
    height: 24px;

}
.footer_text{
    font-size: 10px;
    color:#f7fdfd ;
    font-weight: 500;

}
.sns_icon{
    height: 20px;
    width: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 18px;

}
.footer_shareicon{
    height: 100%;

}
.footer_shareicon_wrapper{
    height: 100%;

}
